.gallery {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    height: 240px;
    width: 350px;
    border-radius: 1em;
    box-shadow: 0 10px 20px #dbdbdb;
}

.info {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 0 1.5em;
    color: black;
}

input {
    width: 40%;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #078f5b;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #078f5b;
}

input::placeholder {
    color: #078f5b;
}

button {
    border-radius: 8px;
    border-style: none;
    color: #fafafa;
    background-color: #078f5b;
    cursor: pointer;
    height: 40px;
    padding: 10px 16px;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 5px;
}